@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="background-color:forestgreen">
    <header class="text-center">
        <h1 class="display-4">Welcome to Razor Pages</h1>
        <h2> By Hakeel Khan </h2>
    </header>
    <br /><br />
    <form method="post" class="mx-auto" style="width:200px">
        <p class="col-sm-2">
            <label>Name</label>
            <input type="text" name="Name" />
        </p>
        <p class="col-sm-4">
            <label>Email</label>
            <input type="email" name="Email" />
        </p>
        <p class="col-sm-2">
            <button type="submit" class="btn btn-primary">
            Register
            </button>
        </p>
    </form>
    @*<form method="post" class="text-left">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>*@
</div>